/* ======================================= RIGHT ========================================= */
main .container .right {
   height: max-content;
   position: sticky;
   top: var(--sticky-top);
   bottom: 0;
}

.right .messages {
   background: var(--color-white);
   border-radius: var(--card-border-radius);
   padding: var(--card-padding);
   overflow: auto;
   height: 36rem;
   scrollbar-width: none; /* for FireFox */
}

/* .right .messages::-webkit-scrollbar { */
/*    display: none; */
/* } */

.right .messages .heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.right .messages i {
   font-size: 1.4rem;
}

.right .messages .search-bar {
   display: flex;
   margin-bottom: 1rem;
}

.right .messages .category {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.right .messages .category h6 {
   width: 100%;
   text-align: center;
   border-bottom: 4px solid var(--color-light);
   padding-bottom: 0.5rem;
   font-size: 0.85rem;
   cursor: pointer;
}

.right .messages .category .active {
   border-color: var(--color-primary);
}

.right .messages .message-requests {
   color: var(--color-primary);
}

.right .messages .message {
   display: flex;
   gap: 2rem;
   margin-bottom: 1rem;
   align-items: flex-start;
}

.right .messages .message h5 {
   margin-top: 0.5rem;
}

.right .message .profile-photo {
   overflow: visible;
   position: relative;
}

.right .profile-photo img {
   width: 110%;
   height: 100%;
   border-radius: 50%;
}

.right .messages .message:last-child {
   margin: 0;
}

.right .messages .message p {
   font-size: 0.8rem;
}

.right .messages .message .profile-photo .active {
   width: 0.8rem;
   height: 0.8rem;
   border-radius: 50%;
   border: 3px solid var(--color-white);
   background: var(--color-success);
   position: absolute;
   bottom: 0;
   right: -10px;
}

/* ============================== FRIENDS REQUESTS ================================== */
.right .friend-requests {
   margin-top: 1rem;
   display: none;
}

.right .friend-requests h4 {
   color: var(--color-gray);
   margin: 1rem 0;
}

.right .request {
   background: var(--color-white);
   padding: var(--card-padding);
   border-radius: var(--card-border-radius);
   margin-top: 0.7rem;
   border: 2px solid var(--color-dark);
}

.right .request .info {
   display: flex;
   gap: 2rem;
   /* justify-content: space-around; */
   margin-bottom: 1rem;
}

.right .request .info .profile-photo{
   height: 45px;
   width: 50px;
}

.right .request .action {
   display: flex;
   /* justify-content: space-around; */
   gap: 1rem;
}
